h1{
  font-size: xx-large;
  font-weight: bold;
}
thead{
  tr{
    background-color: darkturquoise;
  }
}
.simple-calendar{
  .calendar-heading{
    font-weight: bold;
    font-size: larger;
  }
  .day{
    font-weight: bold;

    .event{
      font-weight: normal;
      color: blue;

      .member_name{
        font-size: small;
        color: black;
      }
    }
  }
}
